

header {
    font-weight: 400;
    font-family: "inter",sans-serif;
    background-color: #efca08;
}

ul {
    font-weight: 600;
    font-family: Lato,"inter",sans-serif;
    font-size: 15px;
    color: #303030;
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
    font-family: Lato,"inter",sans-serif;
    font-size: 30px;
    color: #303030;
    text-transform: uppercase;
    line-height: 1.5em;
    text-align: center;
}

body {
    margin: 0%;
    font-weight: 400;
    font-family: "inter",sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #ffffff;
}
.imagem2 {
    width: 100px;
    height: 50px;
}
.imagem3 {
    width: 100px;
    height: 50px;
}

footer {
    text-align: center;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}